<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Task</title>
  </head>
  <body>
    <h1>NewTask</h1>
    <form action="/task/new" method="post">
      
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>

      <input type="submit" value="NewTask">
    </form>

    {% if success %}
    <div class="alert alert-success" role="alert">
      <br>
        Task created successfully!
    </div>
    {% endif %}

    {% if error %}
    <div class="alert alert-error" role="alert">
      <br>
        Foi de F
    </div>
    {% endif %}

  </body>
</html>
