<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Task Edit</title>
  </head>
  <body>
    <h1>Task Edit</h1>
    <form action="/task/edit" method="post">
      
      <label for="id">ID:</label>
      <input type="text" id="id" name="id"><br><br>

      <input type="submit" value="Edit Task">
    </form>

    {% if success %}
    <div class="alert alert-success" role="alert">
      <br>
       Task edit successfully!
    </div>
    {% endif %}



    {% if error %}
    <div class="alert alert-error" role="alert">
      <br>
        Task não editada!
    </div>
    {% endif %}

  </body>
</html>
