<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update User</title>
  </head>
  <body>
    <h1>Update User</h1>
    <form action="/user/update" method="put">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br><br>

      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>

      <input type="submit" value="Update User">
    </form>

    {% if success %}
    <div class="alert alert-success" role="alert">
      <br>
        User updated successfully!
    </div>
    {% endif %}

    {% if error %}
    <div class="alert alert-error" role="alert">
      <br>
        Foi de F
    </div>
    {% endif %}

  </body>
</html>
